.ic{
  display: none;
}

.navigation {
  margin-left: 30%;
}

.navigation a {
  text-decoration: none;
}

.navigation button {
  width: 60%;
}

@media screen and (max-width:548px) {

  .navigation button{
    display: none;
  }

  hr{
    display: none;
  }

  .title{
    display: none;
  }

  .tw_logo{
    display: none;
  }

  .ic{
    display: inline;
    margin: 3%;
  }

  .nav_hr{
    display: block;
    background-color: grey;
  }

  .navigation{
    margin: auto;
  }

}